section.about {
  padding: 70px 0 70px 0;
}

.about-us {
  
  @mixin atMedium {
    width: 75%;
    padding: 0;
    height: 50vh;
  }
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: solid 1px #333; */

  h1 {
      margin: 4rem 0 0rem 0;
  }

  p {
    @mixin atMedium {
      width: 75%;
      padding: 0;
    }
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}