section.about {
  padding: 70px 0 70px 0;
}

.about-us {
  
  @mixin atMedium {
    width: 75%;
    padding: 0;
    height: 50vh;
    height: auto;
  }
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: solid 1px #333; */

  h1 {
      margin: 4rem 0 0rem 0;
  }

  p {
    @mixin atMedium {
      width: 75%;
      padding: 0;
    }
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }


}

/* New rules */

section.about-new {
  margin-top: 0;
  padding: 100px 0;
  @mixin atMedium {
    margin-top: 70px;
  }
}

.about-new__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h1 {
    width: 100%;
    /* text-decoration: underline; */
    text-align: center;
    @mixin atMedium {
      text-align: left;
    }
  }

  p {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    margin-bottom: 1rem;
    @mixin atMedium {
      width: 75%;
      text-align: left;
      padding: 0;
    }
  }
}