section.about {
  padding: 70px 0 70px 0;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @mixin atMedium {
    width: 75%;
    padding: 0;
    height: 50vh;
    height: auto;
  }

  p {
    @mixin atMedium {
      width: 75%;
      padding: 0;
    }
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

/* New rules */

section.about-new {
  height: 90vh;
  width: 100vw;
  margin: 70px auto 0 auto;
  display: flex;
  align-content: center;
  align-items: center;
  border-bottom: solid 1px #333;
  padding: 0 2rem;

  @mixin atMedium {
    max-width: 1024px;
    width: 100%;
    height: 65vh;
  }
}

.about-new__flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;

  @mixin atMedium {
    flex-direction: row;
  }

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1.875rem;

    @mixin atMedium {
      text-align: left;
      width: 35%;
      margin: 0;
    }
  }

  p {
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }

  .about-new__desc {
    width: 100%;

    @mixin atMedium {
      width: 65%;
    }
  }
}