/* .big-hero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    height: 100vh;
    align-items: center;

    &::before {
        content: "";
        opacity: 0.25;
        top: 0;
        width: 100vw;
        height: 100%;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

    &::after {
        content: "";
        background-image: linear-gradient(45deg, #f9f5ef 33.33%, #000000 33.33%, #000000 50%, #f9f5ef 50%, #f9f5ef 83.33%, #000000 83.33%, #000000 100%);
        background-size: 4.24px 4.24px;;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 0;   
    }

    @mixin atSmall {

    }

    .homeImg {
        grid-column: 4/6;
        grid-row: 1;
        justify-self: end;
        z-index: 1;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        mix-blend-mode: multiply;
    }

    h3 {
        padding: 2rem;
        font-size: clamp(1.4rem, 3vw, 3.25rem);
        z-index: 2;
        color: #121212;
        text-align: center;
        grid-column: 2/5;
        grid-row: 1;
        font-family: 'Arimo', sans-serif;
        border-left: solid 1rem #000;
        background-color: $mainBeige;
        max-width: 50rem;
        

        @mixin atMedium {
            text-align: left;
            line-height: 4.25rem;
        }
    }

    p {
        color: black;
        padding: 0;
        display: block;
        z-index: 1;
        font-size: 12px;
        margin: 0;

        @mixin atSmall {
            max-width: 500px;
            color: white;
            line-height: 2.4rem;
            margin: 0 0 0 2rem;
            text-align: left;
            font-size: calc(14px + 8 * ((100vw - 530px) / 960));

            span {
                background-color: #000;
                padding: 4px 8px;
            }
        }

        @mixin atLarge {
            & {
                font-size: 18px;
            }
        }
    }

    &__btn {
        display: block;
        border: solid 1px #000;
        margin: 0;
        padding: 0.5rem 0.5rem;
        background-color: #fff;
        cursor: pointer;
        margin-top: 1rem;
        z-index: 2;

        @mixin atSmall {
            margin: 16px 0 0 2rem;

        }
    }
} */