.client-grid {
  display: grid;
  grid-gap: 2em 1em;
  padding: 0 0 3rem 0;
  justify-items: center;
  @mixin fade {
    
  }

  @mixin atMedium {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  li {
    width: 100%;
    max-width: 450px;
    padding-bottom: 10px;
    border-bottom: solid 1px #333;
  }

  h3, p {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  img {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  a img {
    filter: grayscale(100%);
    transition: all .4s ease-in-out;
  }
  a:hover img{
    filter: grayscale(0%);
    /*object-position: center;*/
  }

}