footer {
  bottom: 0;
  width: 100%;
  color: #000;
  background-color: #aeaeae;
  z-index: 22;
  padding: 5px 0;

  @mixin atSmall {
    display: block;
    position: fixed;
  }

  &__footer {
    border-top: solid 1px #000;
  }

  p {
    text-align: center;
    font-size: 0.7rem;
    line-height: normal;
    color: white;
  }

  @mixin clearfix {}
}