footer {
  bottom: 0;
  width: 100%;
  display: none;

  @mixin atSmall {
    display: block;
  }

  &__footer {
    border-top: solid 1px #000;
  }

  p {
    text-align: right;
    font-size: 0.8rem;
  }

  @mixin clearfix {}
}