.intro-text {
    margin: 4rem 0 6rem 0;
    padding: 0;
    display: inline-block;

    @mixin fade {}

    /* @mixin atSmall {
        padding: 4rem;
    } */

    p {
        text-align: left;
        max-width: 50%;
    }

}