* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 0 2rem;
  margin: 0 auto;

  /* @mixin fade {}*/

 @mixin atMedium {
  } 

  @mixin clearfix {}

  &__border-bottom {
    border-bottom: solid 2px #000000;
  }

  &__main-content {
    position: relative;

    /*@mixin fade {}*/

    * {
      max-width: 620px;
    }
  }

  &--narrow {
    max-width: 470px;
  }
}

.split-para {
  visibility: hidden;
}